.Manager {
     display: flex;
     background-color: white;
     padding: 50px 20px 20px 20px;
     border-radius: 20px;
     align-items: center;
     font-size: larger;
     margin-bottom: 20px;
     flex-direction: column;
}

.Manager span {
     font-size: medium;
     color: rgba(0, 0, 0, 0.573);
}

.Manager div {
     width: 85%;
     margin-right: 20px;
     overflow-wrap: break-word;
}




.Manager button {
     height: 50px;
     width: 80px;
     border-radius: 10px;
     font-size: small;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow-wrap: break-word;
     margin-top: 20px;

}

.Manager button:hover {
     background-color: rgb(96, 0, 0);
     color: white;
     transition: 0.5s ease;
}